<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    
</head>
<body>
    <h2>Register</h2>
    <form method="POST">
      <label for="username">Username:</label>
      <input name="username" required><br><br>
      <label for="user_type">User Type:</label>
      <select name="user_type">
          <option value="OrdinaryUser">Ordinary User</option>
          <option value="CorporateUser">Corporate User</option>
        
      </select><br><br>
      <input type="submit" value="Register">
  </form>

    <h2>Check Application Status</h2>
    <form method="POST" action="{{ url_for('check_status') }}">
        <label for="check_username">Username:</label>
        <input name="check_username" required><br><br>
        <input type="submit" value="Check Status">
    </form>
    <a href="{{ url_for('homepage') }}">Back to Home</a>
</body>
</html>